@using Esercitazione.Services
@model ApplicationUser

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-md">
                <div class="card-header bg-success text-white">
                    <h3 class="card-title">Login</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Login" method="post">
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Username</label>
                            <input asp-for="Username" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input type="password" asp-for="Password" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-success">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
