@{
    ViewData["Title"] = "Home Page";

    var currentUser = (User.Identity?.IsAuthenticated ?? false) ? User.Identity.Name : "Anon";
    var friendlyName = User.Claims.FirstOrDefault(c => c.Type == "FriendlyName")?.Value ?? currentUser;
}

<div class="text-center">
    <h1 class="display-4">Benvenuto @friendlyName</h1>


</div>
